body, html {
  font-family: 'Segoe UI', sans-serif;
  background: #1a1a1a;
  color: #fff;
  height: 100%;
  margin: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background: rgba(0, 0, 0, 0.7);
  padding: 2em;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #00acee;
  border-radius: 5px;
  width: 250px;
  background: #333;
  color: white;
}

button {
  background: #00acee;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 270px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #011924;
}
